---
import Badge from "@components/Badge.astro";
import Paragraph from "@components/Paragraph.astro";
import Title from "@components/Title.astro";
import type { Experience } from "@models/experience.interface";

interface Props {
  experience: Experience;
}

const { url, company, startDate, endDate, description, position, remote } =
  Astro.props.experience;
---

<article class="flex flex-col gap-0.5">
  <header class="flex items-center justify-between">
    <div class="flex flex-wrap items-center gap-2">
      <Title href={url}>{company}</Title>
      {remote && <Badge label="Remote" size="xs" />}
    </div>
    <span class="text-sm text-neutral-500 tabular-nums">
      {startDate} - {endDate}
    </span>
  </header>
  <Paragraph class="font-medium text-neutral-700">{position}</Paragraph>
  <Paragraph>
    {description}
  </Paragraph>
</article>
