---
import GlobeIcon from "../icons/GlobeIcon.astro";
import Contact from "./Contact.astro";
import { Image } from "astro:assets";
import user from "@cv/user.json";

const { name, label, location, image } = user;
---

<section class="flex items-center justify-between">
  <div class="space-y-1">
    <h1 class="text-2xl font-bold">{name}</h1>
    <p class="text-sm font-medium text-neutral-500">
      {label}
    </p>
    <p class="text-xs text-neutral-500">
      <a
        class="group flex items-center gap-1 hover:underline"
        href={location.map}
      >
        <GlobeIcon
          class="inline w-4 fill-neutral-500/80 transition-transform group-hover:scale-110"
        />
        {location.address}
      </a>
    </p>
    <Contact />
  </div>
  <div>
    <Image
      src={image}
      alt="Uriel Spiridione profile"
      width="110"
      height="110"
      class="rounded-xl"
    />
  </div>
</section>
