---
import GlobeIcon from "../icons/GlobeIcon.astro";
import Contact from "./Contact.astro";
import { Image } from "astro:assets";
import user from "@cv/user.json";
import Button from "@components/Button.astro";
import FileIcon from "@components/icons/FileIcon.astro";
import DownloadIcon from "@components/icons/DownloadIcon.astro";

const { name, label, location, image } = user;
---

<section class="flex items-center justify-between">
  <div class="space-y-1">
    <h1 class="text-2xl font-bold">{name}</h1>
    <p class="text-sm font-medium text-neutral-500">
      {label}
    </p>
    <p class="text-xs text-neutral-500">
      <a
        class="group flex items-center gap-1 hover:underline"
        href={location.map}
      >
        <GlobeIcon
          class="inline w-4 fill-neutral-500/80 transition-transform group-hover:scale-110"
        />
        {location.address}
      </a>
    </p>
    <Contact />
    <aside
      class="flex gap-2 pt-2 text-xs font-medium text-neutral-500 print:hidden"
    >
      <Button id="print">
        <FileIcon
          class="inline h-4 w-4 fill-neutral-500 transition-colors group-hover:fill-neutral-700"
        />
        Print
      </Button>
      <Button id="download">
        <DownloadIcon
          class="inline h-5 w-5 fill-neutral-500 transition-colors group-hover:fill-neutral-700"
        />
        Download
      </Button>
    </aside>
  </div>
  <div>
    <Image
      src={image}
      alt="Uriel Spiridione profile"
      width="110"
      height="110"
      class="rounded-xl"
    />
  </div>
</section>
