---
import type { Experience } from "@models/experience.interface";
import Badge from "./Badge.astro";
import Paragraph from "./Paragraph.astro";
import Description from "./Description.astro";
import Title from "./Title.astro";

interface Props {
  experience: Experience;
}

const { url, company, startDate, endDate, description, position, remote } =
  Astro.props.experience;
---

<article class="flex flex-col gap-0.5">
  <header class="flex items-center justify-between">
    <div class="flex flex-wrap items-center gap-2">
      <Title href={url}>{company}</Title>
      {remote && <Badge label="Remote" size="xs" />}
    </div>
    <span class="text-sm text-neutral-500 tabular-nums">
      {startDate} - {endDate}
    </span>
  </header>
  <footer class="flex flex-col gap-0.5">
    <Description>{position}</Description>
    <Paragraph>
      {description}
    </Paragraph>
  </footer>
</article>
