---
import type { Experience } from "@models/experience.interface";
import Badge from "./Badge.astro";
import Paragraph from "./Paragraph.astro";
import Description from "./Description.astro";
import Title from "./Title.astro";

interface Props {
  experience: Experience;
}

const { experience } = Astro.props;
---

<article class="flex flex-col gap-0.5">
  <header class="flex items-center justify-between">
    <div class="flex flex-wrap items-center gap-2">
      <Title href={experience.url}>{experience.company}</Title>
      {experience.type && <Badge label={experience.type} size="xs" />}
    </div>
    <span class="text-sm tabular-nums text-neutral-500">
      {experience.date}
    </span>
  </header>
  <footer class="flex flex-col gap-0.5">
    <Description>{experience.job}</Description>
    <Paragraph>
      {experience.description}
    </Paragraph>
  </footer>
</article>
