---
import type { Project } from "@models/project.interface";
import Badge from "./Badge.astro";
import LinkButton from "./LinkButton.astro";
import GlobeIcon from "./icons/GlobeIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import Paragraph from "./Paragraph.astro";
import Title from "./Title.astro";

interface Props {
  project: Project;
}

const { url, name, tags, description, repo } = Astro.props.project;
---

<article
  class="no-break flex flex-col gap-2 rounded-md border border-neutral-200 px-3 py-2 print:gap-1 print:border-none print:px-0 print:py-0"
>
  <header class="flex flex-wrap items-center gap-2">
    <Title href={url}>{name}</Title>
    <ul class="flex gap-2">
      {
        tags.map((tag) => (
          <li>
            <Badge label={tag} size="xs" />
          </li>
        ))
      }
    </ul>
  </header>
  <Paragraph>{description}</Paragraph>
  <footer>
    <div class="flex gap-2 print:hidden">
      {
        url && (
          <LinkButton href={url} title={`${name} link`}>
            <span class="sr-only">{`${name} link`}</span>
            <GlobeIcon class="h-4 w-4 fill-neutral-500 transition-colors group-hover:fill-neutral-700" />
          </LinkButton>
        )
      }
      {
        repo && (
          <LinkButton href={repo} title={`${name} github repo`}>
            <span class="sr-only">{`${name} github repo`}</span>
            <GithubIcon class="h-4 w-4 fill-neutral-500 transition-colors group-hover:fill-neutral-700" />
          </LinkButton>
        )
      }
    </div>
    <div class="hidden print:block">
      {url && <span>{url}</span>}
    </div>
  </footer>
</article>

<style>
  @media print {
    .no-break {
      break-inside: avoid;
    }
  }
</style>
