---
import type { Project } from "@models/project.interface";
import Badge from "./Badge.astro";
import LinkButton from "./LinkButton.astro";
import GlobeIcon from "./icons/GlobeIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import Paragraph from "./Paragraph.astro";
import Title from "./Title.astro";

interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<article
  class="flex flex-col gap-2 rounded-md border px-3 py-2 print:gap-1 print:border-none print:px-0 print:py-0"
>
  <header class="flex flex-wrap items-center gap-2">
    <Title href={project.url}>{project.title}</Title>
    <ul class="flex gap-2">
      {
        project.tags.map((tag) => (
          <li>
            <Badge label={tag} size="xs" />
          </li>
        ))
      }
    </ul>
  </header>
  <Paragraph>{project.description}</Paragraph>
  <footer>
    <div class="flex gap-2 print:hidden">
      {
        project.url && (
          <LinkButton href={project.url} title={`${project.title} link`}>
            <span class="sr-only">{`${project.title} link`}</span>
            <GlobeIcon class="h-4 w-4 fill-neutral-500 transition-colors group-hover:fill-neutral-700" />
          </LinkButton>
        )
      }
      {
        project.repo && (
          <LinkButton
            href={project.repo}
            title={`${project.title} github repo`}
          >
            <span class="sr-only">{`${project.title} github repo`}</span>
            <GithubIcon class="h-4 w-4 fill-neutral-500 transition-colors group-hover:fill-neutral-700" />
          </LinkButton>
        )
      }
    </div>
    <div class="hidden print:block">
      {project.url && <span>{project.url}</span>}
    </div>
  </footer>
</article>
